html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #60a9ff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    padding: 20px;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    width: 100%;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    max-width: 100%;
    margin-bottom: 25px;
}

.pricing-header {
    color: #888;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.pricing-features {
    margin: 10px 0;
    color: #016ff9;
    font-weight: 600;
    margin-bottom: 20px;
}

.pricing-features-item {
    padding: 2em 0;
    font-size: 11px;
    border-top: 1px solid #e1f1ff;
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    display: block;
    font-size: 1.75rem;
    font-weight: 600;
    color: #016ff9;
    padding-bottom: 1rem;
}

.pricing-button {
    border: 1px solid #60a9ff;
    text-decoration: none;
    color: #016ff9;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
    display: inline-block;
    width: fit-content;
}

.pricing-plan:nth-of-type(2) .pricing-button {
    background-color: #60a9ff;
    color: white;
}

@media(min-width: 900px) {
    .panel {
        flex-direction: row;
    }

    .pricing-img {
        width: 100%;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}